In [1]:
10

10

In [2]:
import pandas as pd
from pathlib import Path

# If your notebook is in the same folder as the CSVs, this is enough:
DATA_DIR = Path(".")   # change if needed, e.g. Path(r"C:\Users\...\Desktop\Med-paper\data")

files = {
    "full":  "Dataset_with_span_and_target.csv",
    "train": "train_simple.csv",
    "val":   "val_simple.csv",
    "test":  "test_simple.csv",
}

# Load each CSV into its own DataFrame
dfs = {name: pd.read_csv(DATA_DIR / fname) for name, fname in files.items()}

df_full  = dfs["full"]
df_train = dfs["train"]
df_val   = dfs["val"]
df_test  = dfs["test"]

# Quick check
for name, df in dfs.items():
    print(name, df.shape)

df_train.head()

full (8726, 10)
train (3528, 6)
val (706, 6)
test (2822, 6)

,tweet_id,text,Violenc,Hate,Vulgar,HateSpeech
0,1222188705437429762,در جریانید که حق طلاق توی ایران با مرده دیگه؟؟؟,0,0,0,0
1,1595851746160549889,▪️تبلیغ علیه نظام\n▪️توهین به رهبری\n▪️توهین ب...,0,0,0,0
2,1456667451744260108,من نرفتم ۳۴ فاکینگ میلیون تومن پول آیفون بدم ک...,1,0,1,1
3,1627825988942929925,٢١ فوريه ١٩٥٢، دانشجویان داکاي بنگلادش، پيش از...,0,0,0,0
4,1593342469336313856,دادگاه به این نتیجه رسیده است که این سه نفر در...,0,0,0,0

In [3]:
from IPython.display import display

for name, df in dfs.items():
    print(f"\n===== {name} ({df.shape[0]} rows, {df.shape[1]} cols) =====")
    display(df.head())

===== full (8726 rows, 10 cols) =====

,Unnamed: 0,tweet_id,text,target,answer,target_ch,Violence,Hate,Vulgar,HateSpeech
0,0,1641123279166652416,آیا میدانید: عکسها و کلیپ‌هایی که ماها از بی‌ح...,نمیدونم,"[{""end"":124,""text"":""اشاعه فحشا"",""start"":114,""l...",نامشخص,0,1,0,1
1,1,1646113921458118656,این اسلام واقعی نیست اخوی؟!! \nکدام اسلام واقع...,اسلام,"[{""end"":110,""text"":""طالبان، جمهوری اسلامی، حشد...",گروه مذهبی,0,1,0,1
2,2,1565947588351778816,یادی کنیم از شرارت های قدیم \nشورت این فک و فا...,یهودیان,"[{""end"":68,""text"":""فامیل #یامین_پور یهودی رو"",...",گروه مذهبی,0,1,0,1
3,3,1314959192495656960,هشتگ‌های داغ ۸ ساعت گذشته\n#شجریان ۹۰\n#پیم...,NaN,NaN,NaN,0,0,0,0
4,4,1252552169112256513,از آقای جورجی اینترنتی می خواهیم حسن عباسی و ر...,رائفی پور و عباسی,"[{""end"":54,""text"":""عباسی و رایفی پور"",""start"":...",نامشخص,0,0,1,1

===== train (3528 rows, 6 cols) =====

,tweet_id,text,Violenc,Hate,Vulgar,HateSpeech
0,1222188705437429762,در جریانید که حق طلاق توی ایران با مرده دیگه؟؟؟,0,0,0,0
1,1595851746160549889,▪️تبلیغ علیه نظام\n▪️توهین به رهبری\n▪️توهین ب...,0,0,0,0
2,1456667451744260108,من نرفتم ۳۴ فاکینگ میلیون تومن پول آیفون بدم ک...,1,0,1,1
3,1627825988942929925,٢١ فوريه ١٩٥٢، دانشجویان داکاي بنگلادش، پيش از...,0,0,0,0
4,1593342469336313856,دادگاه به این نتیجه رسیده است که این سه نفر در...,0,0,0,0

===== val (706 rows, 6 cols) =====

,tweet_id,text,Violenc,Hate,Vulgar,HateSpeech
0,1458162790280187910,مراحل طلاق با داشتن وکالت طلاق با کمک #وکیل_طل...,0,0,0,0
1,1533521993542385664,#مربی_معتبر_خارجی\nاز چرخه ی مربیان داخلی خارج...,0,0,0,0
2,1232399252934004736,یکی از دوست های ترکیه ایم پیام داده که تو ایرا...,0,0,0,0
3,1380603378074583040,خوشحالم که فیسبوکم رو قبل از مرگ باز کردم و تو...,0,0,1,1
4,1498526291322101763,گور پدر #پوتین و #روسیه، ولی در نظر انسان غربی...,0,1,0,1

===== test (2822 rows, 6 cols) =====

,tweet_id,text,Violenc,Hate,Vulgar,HateSpeech
0,1486841639305887746,همین مذهبیا که تا یه چی حرام و غيرقانونیه مخال...,0,1,0,1
1,1619210300494086147,سر صبح شنبه دهنمون رو کثیف و خلقمون رو تنگ می‌...,0,1,0,1
2,1410274237533888520,دروغ چرا؟ کنکور خیلی مهمه. انقد مهمه که میتونه...,0,0,1,1
3,1249732331558121474,جوری که صدا و سیما و خبرگزیهای ایرانی نگران آم...,0,0,0,0
4,1575912350745608214,برای #مهسا_امینی خفته در خاک\nبرای ##شروین_حاج...,0,1,0,1

In [ ]:
# Quick code to verify they come from the same pool (by tweet_id)

In [5]:
full_ids  = set(df_full["tweet_id"])
train_ids = set(df_train["tweet_id"])
val_ids   = set(df_val["tweet_id"])
test_ids  = set(df_test["tweet_id"])

print("train in full:", len(train_ids - full_ids) == 0)
print("val in full:",   len(val_ids - full_ids) == 0)
print("test in full:",  len(test_ids - full_ids) == 0)

print("overlap train/val:",  len(train_ids & val_ids))
print("overlap train/test:", len(train_ids & test_ids))
print("overlap val/test:",   len(val_ids & test_ids))

train in full: True
val in full: True
test in full: True
overlap train/val: 0
overlap train/test: 0
overlap val/test: 0

2) Compare label distributions across splits (train/val/test)
A) Fix the Violenc column name first

Your split CSVs use Violenc but full uses Violence.

In [6]:
# Fix column name in train/val/test if needed
for df in [df_train, df_val, df_test]:
    if "Violenc" in df.columns and "Violence" not in df.columns:
        df.rename(columns={"Violenc": "Violence"}, inplace=True)

labels = ["Violence", "Hate", "Vulgar", "HateSpeech"]

B) Print distribution (counts and percentages) per split
Your split CSVs use Violenc but full uses Violence.

In [7]:
import pandas as pd

def label_stats(df, split_name):
    out = pd.DataFrame({
        "count_1": df[labels].sum(),
        "pct_1": (df[labels].mean() * 100).round(2),
    })
    out["split"] = split_name
    out["n_rows"] = len(df)
    return out.reset_index(names="label")

stats = pd.concat([
    label_stats(df_train, "train"),
    label_stats(df_val, "val"),
    label_stats(df_test, "test"),
], ignore_index=True)

stats_pivot = stats.pivot(index="label", columns="split", values=["count_1", "pct_1"])
stats_pivot

           count_1                 pct_1
split         test   train    val   test  train    val
label
Hate         641.0   823.0  168.0  22.71  23.33  23.80
HateSpeech  1259.0  1614.0  323.0  44.61  45.75  45.75
Violence     249.0   272.0   61.0   8.82   7.71   8.64
Vulgar       616.0   818.0  149.0  21.83  23.19  21.10

C) Check how many labels each tweet has (multi-label intensity)
This is super useful to see if one split has “harder” samples.

In [8]:
def multi_label_intensity(df, split_name):
    k = df[labels].sum(axis=1)  # how many labels = 1 in each row
    return pd.Series({
        "split": split_name,
        "n_rows": len(df),
        "avg_labels_per_tweet": round(k.mean(), 3),
        "pct_any_label": round((k.gt(0).mean() * 100), 2),
        "pct_2plus_labels": round((k.ge(2).mean() * 100), 2),
        "pct_3plus_labels": round((k.ge(3).mean() * 100), 2),
    })

pd.DataFrame([
    multi_label_intensity(df_train, "train"),
    multi_label_intensity(df_val, "val"),
    multi_label_intensity(df_test, "test"),
])

,split,n_rows,avg_labels_per_tweet,pct_any_label,pct_2plus_labels,pct_3plus_labels
0,train,3528,1.000,45.75,45.72,8.16
1,val,706,0.993,45.75,45.75,7.51
2,test,2822,0.980,44.61,44.61,8.43

D) Verify whether HateSpeech is derived from other labels
Example hypothesis: HateSpeech == (Violence OR Hate OR Vulgar).

In [9]:
def check_hatespeech_rule(df, split_name):
    derived = (df[["Violence","Hate","Vulgar"]].max(axis=1)).astype(int)
    mismatch = (derived != df["HateSpeech"]).sum()
    return split_name, mismatch, len(df)

for name, df in [("train", df_train), ("val", df_val), ("test", df_test)]:
    s, mism, n = check_hatespeech_rule(df, name)
    print(f"{s}: HateSpeech mismatches OR(Violence,Hate,Vulgar) in {mism}/{n}")

train: HateSpeech mismatches OR(Violence,Hate,Vulgar) in 1/3528
val: HateSpeech mismatches OR(Violence,Hate,Vulgar) in 0/706
test: HateSpeech mismatches OR(Violence,Hate,Vulgar) in 0/2822